.App {
  text-align: center; 
    max-width: 100%;
    overflow-x: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* div {
  border: solid 0.1rem black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/* Header Section */
/* .App__Header {
  display: flex;
  justify-content: space-around;
  background-color: chartreuse;
}


.App__Navigation {
  display: flex;
  list-style-type: none;   
}

.App__Navigation li {
  margin: 1rem;
}  */

/* Main Section */
/* .App__Main--wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
  margin-bottom: 10rem;  
} */

/* .App__Sidebar-links { */
  /* margin-left: 10rem; */
  /* min-width: 20rem;
  
} */

/* .App__Mittelteil {
  min-width: 70rem;
  margin-right: 30rem;
  margin-left: 5rem;
} */
/* 
.App__Suchfelder-wrapper {
  display: flex;
} */


/* Footer Section */

/* footer {
  display: flex;
  justify-content: space-around;
  background-color: chocolate;
} */ 